.v-locale--is-rtl {
  div, input, span, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6, .text-subtitle-1, .text-subtitle-2, .text-body-1, .text-body-2, .text-caption {
    font-family: Ravi !important;
  }

  .v-btn {
    letter-spacing: 0;
  }
}

.v-main {
  overflow: auto !important;
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 200;
  src: url(@/assets/fonts/Ravi/Ravi-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 300;
  src: url(@/assets/fonts/Ravi/Ravi-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/fonts/Ravi/Ravi-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 500;
  src: url(@/assets/fonts/Ravi/Ravi-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 700;
  src: url(@/assets/fonts/Ravi/Ravi-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 900;
  src: url(@/assets/fonts/Ravi/Ravi-ExtraBold.otf) format('opentype');
}

.my-list-item {
  min-height: 33px !important;
  font-size: 0.75rem !important;

  .v-list-item-title{
    font-size: 0.75rem !important;
  }
}

.my-list-item .v-list-item__prepend i {
  margin-inline-end: -20px !important;
}

.bg-login{
  background-color: #2e3192;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2e3192 25px ), repeating-linear-gradient( #16196a55, #16196a );
}